@import '../../app.scss';
.services {
  background: linear-gradient(180deg, #05050f, #000000);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    .textContainer {
      flex: 1;
      align-self: flex-end;
      display: flex;
      align-items: center;
      gap: 20px;
  
      @include mobile {
        align-self: center;
        text-align: center;
        flex-direction: column;
      }
  
      p {
        font-weight: 200;
        font-size: 20px;
        color: gray;
        text-align: right;
      }
  
      hr {
        width: 500px;
        border: none;
        border-top: 0.5px solid gray;
  
        @include mobile {
          width: 300px;
        }
      }
    }
    .titleContainer {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      @include mobile {
        width: 100%;
      }
  
      .title {
        display: flex;
        align-items: center;
        gap: 50px;
  
        @include mobile {
          flex-direction: column;
          text-align: center;
          gap: 20px;
        }
  
        img {
          width: 300px;
          height: 100px;
          border-radius: 50px;
          object-fit: cover;
  
          @include mobile {
            width: 200px;
            height: 50px;
          }
        }
  
        h1 {
          font-size: 96px;
          font-weight: 100;
          color: #fff;
  
          @include mobile {
            font-size: 36px;
          }
        }
  
        button  {
          width: 300px;
          height: 100px;
          border-radius: 50px;
          background-color: #059033;
          border: none;
          font-size: 24px;
          cursor: pointer;
          color:#fff;
  
          @include mobile {
            font-size: 16px;
            width: 150px;
            height: 50px;
          }
        }
      }
    }
    .imageContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1366px;
      margin: auto;
      margin-bottom: 50px;
      border-radius: 30px;
    
      @include mobile {
        width: 100%;
      }
    }
    
    .imageContainer img {
      width: 90%;
      height: auto;
      object-fit: cover;
      margin: auto;
      border-radius: 30px;
    
      @include mobile {
        width: 70%;
        height: auto;
      }
    }
    
    
  }

  //#########
  .testimonial {
    margin: 80px auto;
    padding: 0 80px;
    position: relative;

    .next-btn, .back-btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      padding: 15px;
      width: 50px;
      border-radius: 50%;
      cursor: pointer;
      background: #212EA0;
    
      &.back-btn {
        right: auto;
        left: 0;
      }
    }
    
    .next-btn {
      border-radius: 50%;
    }
    .slider {
      overflow: hidden;
      ul {
        display: flex;
        width: 200%;
        overflow-x: hidden;
        transition: 0.5s;
        transform: translate(-15%);
        li {
          list-style: none;
          width: 50%;
          padding: 20px;
          .slide {
            box-shadow: 0 0 20px #0000000d;
            padding: 40px;
            border-radius: 10px;
            color: #676767;
            line-height: 1.4;
            img {
              width: 200px;
              border-radius: 30%;
              margin-right: 10px;
              border: 4px solid #059033;
            }
          }
        }
      }
    }
  }    